/* contains all the links */
#anchorFlex {
    display:flex;
    justify-content: space-around;
    border: 1px solid;
    margin-top: 2vh;
}

.pictureLink {
    max-width: 85%;
}

a {
    
}

#logoDiv {
    animation: topDown 2s, fadeIn 2s;
}


body {
    background-color: #fcdcdc;
}

/* contains all images */
.imageContainer {
    text-align: center;
    border: 1px solid;
}


@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to { opacity: 1
    }
}

@keyframes topDown {
    from { transform: translateY(-20%); } 
    to { transform: translateY(0%); }
}