#bodyContainer {
    display: flex;
    flex-direction: column
}

/* contains all the links */
#anchorFlex {
    display:flex;
    justify-content: space-around;
    margin: 0 10vw 1vh 10vw;

}

.pictureLink {
    animation: fadeIn 3s;
    max-width: 85%;
    border: 1px solid;
}

#logoDiv {
    animation: topDown 2s, fadeIn 2s;
}


body {
    background-color: #fcdcdc;
}

/* contains all images */
.imageContainer {
    text-align: center;
}


@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to { opacity: 1
    }
}

@keyframes topDown {
    from { transform: translateY(-20%); } 
    to { transform: translateY(0%); }
}

#noRights{
    margin: 0 auto;
    position: fixed;
    bottom: 0;
}